:root {
    --theme-color-nav: rgb(213, 213, 213);
    --theme-color-back: rgb(255, 255, 255);
    --theme-color-keys: rgb(191, 191, 191);
    --theme-color-keys-secondary: rgb(191, 191, 191);
    --theme-color-text: rgb(0, 0, 0);
    --theme-color-burger: rgb(64, 64, 64);
}

html {
    background: var(--theme-color-back);
}

body {
    background: var(--theme-color-back);
}

.navbar {
    background: var(--theme-color-nav);
    height: auto;
}

.navbar .btn {
    background: var(--theme-color-nav);
}

.navbar .burger {
    width: 2em;
    height: 0.2em;
    background-color: var(--theme-color-burger);
    margin: 0.25em 0;
    border-radius: 0.2em;
}

.navbar div {
    background-color: var(--theme-color-nav);
    color: var(--theme-color-text);
}

.navbar input {
    color: var(--theme-color-text);
}

.navbar label {
    color: var(--theme-color-text);
}
