
// @import "./_variables.scss";


// variables.scss
$backgroundColor :  #ffffff;
$navbarColor :  #d40e0e;
//$textColor : #C678DD;
$textColor : #e0d4e4;


html{
    background-color: $backgroundColor;
}
body{

    background-color: $backgroundColor;

}

.navbar {
    background-color: $navbarColor;
    height: auto;
    .btn{
        background-color: $navbarColor;
    }
    .burger{
        width: 2em;
        height: .2em;
        background-color: $backgroundColor;
        margin: .25em 0;
        border-radius: .2em;
    }

    div{
        background-color: $navbarColor;
    }
    input {
        color: $textColor;
    }
    label {
        color: $textColor;
    }
    
}

